CREATE TABLE IF NOT EXISTS exam_attendance (
    id INT AUTO_INCREMENT PRIMARY KEY,
    school_id INT NOT NULL,
    student_id INT NOT NULL,
    exam_type VARCHAR(50) NOT NULL,
    year INT NOT NULL,
    class VARCHAR(20) NOT NULL,
    days_present INT DEFAULT 0,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    UNIQUE KEY (school_id, student_id, exam_type, year)
);
